<div class="side-recent">
	<h2 class="side-title">
		{{ with .Site.GetPage "section" "posts" }}
			<a href="{{ ref . .Path }}">
				<i class="icon-clock"></i>
				Latests posts
			</a>
		{{ end }}
	</h2>
	<hr/>

	<ul>
		{{ range first 5 .RegularPages.ByDate.Reverse }}
			<li class="recent-item">
				<a href="{{ .RelPermalink }}">
					<p class="title">
						{{ .Title }}
					</p>
					<p class="date">
						<time class="date" datetime="{{ .PublishDate }}">{{ .PublishDate.Format "2006/01/02" }}</time>
					</p>
				</a>
			</li>
		{{ end }}
	</ul>
</div>
